{% extends 'account/emails/base_email.html' %}
{% block heading %}Reset your password{% endblock %}
{% block body %}
<p style="margin:0 0 16px 0;">Hi {{ user.first_name }} {{ user.last_name }},</p>
<p style="margin:0;">We received a request to reset your Sukhra password. Click the button below to choose a new one.</p>
{% endblock %}
{% block cta %}
<table role="presentation" cellpadding="0" cellspacing="0" border="0" style="margin-top:28px;">
<tr><td style="border-radius:8px; background-color:#0284C7;">
<a href="http://{{ domain }}{% url 'account:reset_password' uidb64=uid token=token %}" style="display:inline-block; padding:12px 24px; font-size:15px; font-weight:600; color:#ffffff; text-decoration:none;">Reset password</a>
</td></tr>
</table>
{% endblock %}
{% block footer_note %}If you didn't request this, you can safely ignore this email &mdash; your password won't change.{% endblock %}
