{% autoescape off %}

Hi {{update_req.created_for.fullname}},

    The request reference of ({{update_req.request_id}}) is requested for the resource of {{update_req.request_resource}} was completed successfully. 
    
    This request was falling under the category of ({{update_req.request_category}}) and created by your manager dated on {{update_req.created_on}}.

    This request was completed on {{update_req.completed_on}}.

    The Resource Asset details follows below,

    Resource Requested - {{update_req.request_resource}}

    Resource Asset Id - {{update_req.asset_id}}

    Currently the request was in {{resuest_status_r}} status.

    You may come and show this email for evidence purpose and collect the allocated resource from your manager.

Thank you,
ORMS Team.

Have a great day!

{% endautoescape %}