{% autoescape off %}

Hi {{get_request.created_for.fullname}},

{% if get_request.request_category == 'Support' %}
    The support request reference of ({{get_request.request_id}}) regarding {{get_request.resource_label}} was approved for further processing.
{% else %}
    The request reference of ({{get_request.request_id}}) is requested for the resource of {{get_request.resource_label}} was approved for further processing.
{% endif %}

    This request was falling under the category of ({{get_request.request_category}}) and created by your manager dated on {{get_request.created_on}}.

    Currently the request was in {{resuest_status_r}} status.

Thank you,
Sukhra Team.

Have a great day!

{% endautoescape %}