{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ORMS | Reset password</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <section>
        <div class="image-box">
            <!-- <img src="images/wfh-setup.jpg"> -->
            <img src="{% static 'images/forgot-password.jpg' %}">
        </div>
        <div class="login-box">
            <div class="login-form">
                <h2 style="font-size: 17px;">Reset Password</h2>
                <form action="{% url 'reset_password_activity' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-box">
                        <span>Create Password:</span>
                        <input type="password" name="password" required>
                    </div>
                    <div class="input-box">
                        <span>Confirm Password:</span>
                        <input type="password" name="confirm_password" required>
                    </div>
                    <div class="input-box">
                        <input type="submit" value="Reset Password" name="">
                    </div>
                    {% include 'message_alert.html' %}
                </form>
            </div>
        </div>
        <div class="loader-wrapper">
            <!-- <span class="loader"><span class="loader-inner"></span></span> -->
            <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_vpbloexe.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
        </div>
    </section>
    <script src="{% static 'script.js' %}"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script>
        $(window).on("load",function(){
          $(".loader-wrapper").fadeOut("slow");
        });
    </script>
</body>
</html>