
{% extends 'base_user.html' %}
{% load static %}

{% block content %}

    <section class="home-main">
        <div class="full-myteam-container">
            <div class="head-container">
                <h1>My Team - AORS Night Shift</h1>
                <input class="search-bar-profile-card" type="search" placeholder="Search by name or ps id..">
            </div>
                <div class="card-container">
                    <div class="profile-card">
                        <img src="{% static 'images/profile-pic.jpg' %}" class="profile-card-pic">
                        <h1>T Manojith</h1>
                        <h2>45102017</h2>
                        <p>Web Production Officer</p>
                        <p>Global Publishing Services (GPS)</p>
                        <button class="profile-card-button" type="button">See details</button>
                    </div>
                    <div class="profile-card">
                        <img src="{% static 'images/profile-pic.jpg' %}" class="profile-card-pic">
                        <h1>Thiyageswarakumar Manojith</h1>
                        <h2>45102017</h2>
                        <p>Web Production Officer</p>
                        <p>Global Publishing Services (GPS)</p>
                        <button class="profile-card-button" type="button">See details</button>
                    </div>
                    <div class="profile-card">
                        <img src="{% static 'images/profile-pic.jpg' %}" class="profile-card-pic">
                        <h1>T Manojith</h1>
                        <h2>45102017</h2>
                        <p>Web Production Officer</p>
                        <p>Global Publishing Services (GPS)</p>
                        <button class="profile-card-button" type="button">See details</button>
                    </div>
                    <div class="profile-card">
                        <img src="{% static 'images/profile-pic.jpg' %}" class="profile-card-pic">
                        <h1>T Manojith</h1>
                        <h2>45102017</h2>
                        <p>Web Production Officer</p>
                        <p>Global Publishing Services (GPS)</p>
                        <button class="profile-card-button" type="button">See details</button>
                    </div>
                    <div class="profile-card">
                        <img src="{% static 'images/profile-pic.jpg' %}" class="profile-card-pic">
                        <h1>T Manojith</h1>
                        <h2>45102017</h2>
                        <p>Web Production Officer</p>
                        <p>Global Publishing Services (GPS)</p>
                        <button class="profile-card-button" type="button">See details</button>
                    </div>
                    <div class="profile-card">
                        <img src="{% static 'images/profile-pic.jpg' %}" class="profile-card-pic">
                        <h1>T Manojith</h1>
                        <h2>45102017</h2>
                        <p>Web Production Officer</p>
                        <p>Global Publishing Services (GPS)</p>
                        <button class="profile-card-button" type="button">See details</button>
                    </div>
                    <div class="profile-card">
                        <img src="{% static 'images/profile-pic.jpg' %}" class="profile-card-pic">
                        <h1>T Manojith</h1>
                        <h2>45102017</h2>
                        <p>Web Production Officer</p>
                        <p>Global Publishing Services (GPS)</p>
                        <button class="profile-card-button" type="button">See details</button>
                    </div>
                    <div class="profile-card">
                        <img src="{% static 'images/profile-pic.jpg' %}" class="profile-card-pic">
                        <h1>T Manojith</h1>
                        <h2>45102017</h2>
                        <p>Web Production Officer</p>
                        <p>Global Publishing Services (GPS)</p>
                        <button class="profile-card-button" type="button">See details</button>
                    </div>
                </div>
            </div> 
        </div> 
    </section>


{% endblock %}