{% extends 'base.html' %}
{% load static %}

{% block title %}Sukhra | My Notes{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="page-header"><i data-lucide="sticky-note"></i> My Notes</h1>

    <button class="btn btn-primary mb-3" id="add-note-btn">
        <i data-lucide="plus"></i> Add Note
    </button>
    <div class="my-notes-container d-flex flex-wrap gap-3"></div>
</div>
{% endblock %}

{% block extra_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.2.2/marked.min.js"></script>
<script src="{% static 'script_notes.js' %}"></script>
{% endblock %}
