
{% extends 'base_user.html' %}
{% load static %}

{% block content %}

    <section class="home-main">
        <div class="full-myteam-container">
            <div class="head-container">
                <h1>My team - {{ user.team }}</h1>
                <!-- <input class="search-bar-profile-card" type="search" placeholder="Search by name or ps id.." required> -->
            </div>
            <div class="search-bar-container">
                <form action="{% url 'search_team_member' user.id %}" method="GET">
                    <input style="margin-left: 5%;" type="text" class="search-input-box-dt" name="keyword" placeholder="Search by name or ps id.." required>
                    <input type="submit" class="search-input-btn-dt" value="Search">
                    <a href="#" class="add-team-btn">Migration <i style="font-size: 15px;" class='bx bx-message-square-add' ></i></a>
                    <a href="#" style="margin-right: 5px; background-color: rgb(24, 24, 24);" class="add-team-btn">Member Index <i class='bx bx-table' ></i></a>
                </form>
            </div>
                <div class="card-container">

                    {% if search_team_member %}
                        {% for team_member in search_team_member %}
                            <div class="profile-card">
                                <img src="{{ team_member.member_image.url }}" class="profile-card-pic">
                                <h1>{{ team_member.fullname }}</h1>
                                <h2>{{ team_member.peoplesoft_id }}</h2>
                                <p>{{ team_member.position }}</p>
                                <p>{{ team_member.department }}</p>
                                <a href="{% url 'view_team_members_details' team_member.id %}">See Details</a>
                            </div>
                        {% endfor %}
                    {% elif team_members %}
                        {% for team_member in team_members %}
                            <div class="profile-card">
                                <img src="{{ team_member.member_image.url }}" class="profile-card-pic">
                                <h1>{{ team_member.fullname }}</h1>
                                <h2>{{ team_member.peoplesoft_id }}</h2>
                                <p>{{ team_member.position }}</p>
                                <p>{{ team_member.department }}</p>
                                <a href="{% url 'view_team_members_details' team_member.id %}">See Details</a>
                                <!-- <button class="profile-card-button" type="button" onclick="">See details</button> -->
                            </div>
                        {% endfor %}
                    {% else %}
                    <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_scgyykem.json"  background="#E4E9F7"  speed="1"  style="width: 35%; height: 60%; margin-left: auto; margin-right: auto;" loop   autoplay></lottie-player>
                    {% endif %}
                </div>
            </div> 
        </div> 
    </section>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>


{% endblock %}