{% extends 'base_it_admin.html' %}
{% load static %}

{% block content %}

<section class="home-main">

    <div class="full-myteam-container" id="blur">
        <div class="head-container" style="margin-bottom: 3%;">
            <h1><img style="margin-bottom: -9px;" src="https://img.icons8.com/color/35/null/device-manager.png"/> Edit Category</h1>
        </div>
        {% if get_cat %}
        <div class="add-new-department-form">
            <h1><img style="margin-bottom: -9px;" src="{{ get_cat.category_image.url }}"/> Edit {{ get_cat.resource_category }} Category Details:</h1>
            <form action="{% url 'add_resource_page' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="and-input-box">
                    <span class="details_anu">Category Name: </span>
                    <input type="text" name="category_name" placeholder="Enter category name.." value="{{get_cat.resource_category}}" required>
                </div>
                <div class="and-input-box">
                    <span class="details_anu">Category Description: (Max: 250 words) </span>
                    <textarea id="and-textarea" name="category_description" rows="4" cols="50" placeholder="Enter category description here.." required>{{get_cat.description}}</textarea>
                </div>
                <span class="details_anu">Choose category Image: </span>
                <input type="file" name="category_image" accept="image/*" required>
                <input type="hidden" class="r-p-textbox" name="updated_by" value="{{ user.first_name }} {{ user.last_name }}">
                <div class="and-input-box">
                    <input class="and-submit-btn" type="submit" value="Update Category">
                    <a href="{% url 'view_resource_categories' %}" class="and-back-btn">Back to Categories</a>
                </div>
            </form>
        </div>
        {% else %}
        {% endif %}
    </div> 
    <div class="loader-wrapper">
        <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_vpbloexe.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
    </div>      
</section>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="script.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script>
    $(window).on("load",function(){
      $(".loader-wrapper").fadeOut("slow");
    });
</script>

{% endblock %}