{% extends 'base_it_admin.html' %}
{% load static %}

{% block content %}

<section class="home-main">
    <div class="full-myteam-container">

        <div class="head-container">
            <h1>Manage Device</h1>
            <input class="create-request-button" type="button" value="+ Add Device">
        </div>
       
            <div class="container">
                <table id="team_requests" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Asset Id</th>
                            <th>Device Type</th>
                            <th>Added By</th>
                            <th>Added on</th>
                            <th>Availability</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>HDPL000012345</td>
                            <td>Monitor</td>
                            <td>Steve</td>
                            <td>11-06-2022</td>
                            <td>Available</td>
                            <td><input class="team-request-view-button" type="button" value="View Device"></td>
                        </tr>
                        <tr>
                            <td>HDPL000012385</td>
                            <td>Desktop</td>
                            <td>Robert</td>
                            <td>12-06-2022</td>
                            <td>Available</td>
                            <td><input class="team-request-view-button" type="button" value="View Device"></td>
                        </tr>
                        <tr>
                            <td>HDPL000015345</td>
                            <td>Laptop</td>
                            <td>James</td>
                            <td>18-06-2022</td>
                            <td>Taken</td>
                            <td><input class="team-request-view-button" type="button" value="View Device"></td>
                        </tr>
                        <tr>
                            <td>HDPL000012342</td>
                            <td>Monitor</td>
                            <td>Steve</td>
                            <td>13-06-2022</td>
                            <td>Taken</td>
                            <td><input class="team-request-view-button" type="button" value="View Device"></td>
                        </tr>
                        <tr>
                            <td>HDPL000092345</td>
                            <td>Desktop</td>
                            <td>Steve</td>
                            <td>19-06-2022</td>
                            <td>Configuration</td>
                            <td><input class="team-request-view-button" type="button" value="View Device"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div> 
    </div>     
</section>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

{% endblock %}