{% extends 'base.html' %}
{% load static %}
{% load resource_extras %}

{% block title %}Sukhra | Completed Request{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="page-header"><i data-lucide="mail-open"></i> View Completed Request</h1>
    {% include 'message_alert.html' %}

    {% if get_request_id %}
    <div class="card mx-auto" style="max-width: 720px;">
        <div class="card-body p-4">
            <h5 class="mb-3">{{ get_request_id.request_id }}</h5>
            <dl class="row mb-0">
                {% if get_member_info %}
                <dt class="col-sm-4">Created for</dt><dd class="col-sm-8">{{ get_member_info.fullname }}</dd>
                {% endif %}
                <dt class="col-sm-4">Created by</dt><dd class="col-sm-8">{{ get_request_id.created_by }}</dd>
                <dt class="col-sm-4">Department</dt><dd class="col-sm-8">{{ get_request_id.department }}</dd>
                <dt class="col-sm-4">Team</dt><dd class="col-sm-8">{{ get_request_id.team }}</dd>
                <dt class="col-sm-4">Resource required</dt><dd class="col-sm-8">{{ get_request_id.resource_label }}</dd>
                <dt class="col-sm-4">Request category</dt><dd class="col-sm-8">{{ get_request_id.request_category }}</dd>
                <dt class="col-sm-4">Created on</dt><dd class="col-sm-8">{{ get_request_id.created_on }}</dd>
                <dt class="col-sm-4">Status</dt>
                <dd class="col-sm-8"><span class="status-pill status-pill--good">{{ get_request_id.request_status }}</span></dd>
                <dt class="col-sm-4">Description</dt><dd class="col-sm-8">{{ get_request_id.request_decription }}</dd>
                <dt class="col-sm-4">Asset Id</dt>
                <dd class="col-sm-8">{{ get_request_id.asset_id }}</dd>
                {% if get_request_id.request_category == 'Support' and get_request_id.regarding_resource_taken %}
                <dt class="col-sm-4">Resource attributes</dt>
                <dd class="col-sm-8">
                    {% for attr in get_request_id.regarding_resource_taken.asset_id.resource_category.attribute_schema %}
                        {{ attr.label }}: {{ get_request_id.regarding_resource_taken.asset_id.attribute_values|dict_get:attr.key }}<br>
                    {% endfor %}
                </dd>
                {% endif %}
                <dt class="col-sm-4">Completed on</dt><dd class="col-sm-8">{{ get_request_id.completed_on }}</dd>
                <dt class="col-sm-4">Comments</dt><dd class="col-sm-8">{{ get_request_id.request_response }}</dd>
            </dl>
            <a href="{% url 'tickets:list_completed_requests_it_admin' user.id %}" class="btn btn-outline-secondary w-100 mt-3">Back</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
