{% extends 'base_it_admin.html' %}
{% load static %}

{% block content %}
<title>ORMS | Resource Listings Index</title>

<section class="home-main">
    <div class="full-myteam-container" id="blur">
        <!-- <div class="head-container">
            <h1>Add Users</h1>
            <a class="navigator-btn" href="{% url 'add_user_page' %}">Add new user</a>
        </div> -->
        <div class="head-container" style="margin-bottom: 3%;">
            <h1><img style="margin-bottom: -9px;" src="https://img.icons8.com/color/35/null/device-manager.png"/> Resources Table</h1>
        </div>
        <div class="search-bar-container">
            <form action="{% url 'resources_date_sort' %}" method="POST">
                {% csrf_token %}
                From: <input type="date" style="width: 140px;" name="from_res" class="search-input-box-dt" required>
                To: <input type="date" style="width: 140px;" name="to_res" class="search-input-box-dt" required>
                <input type="submit" class="search-input-btn-dt" value="Search">
                <a href="{% url 'resources_listings_page' %}" style="margin-right: 0.5%; background-color: rgb(59, 59, 59); border: 1px solid rgb(59, 59, 59);" class="add-team-btn">Back <i class="fa fa-arrow-circle-left" aria-hidden="true"></i></a>
            </form>
        </div>
       
            <div class="container">
                <table id="team_requests" class="display" style="width:100%">
                    
                        {% if get_result %}

                        <thead>
                            <th colspan="5" style="background-color: #949494; text-align: center; color: rgb(255, 255, 255); border: 1px solid rgb(114, 113, 113);">Showing Date From: {{ from_date }} to Date To: {{ to_date }} (Total Results: {{ result_count }})</th>
                            <tr>
                                <th>Asset Id</th>
                                <th>Resource Type</th>
                                <th>Lastly Updated By</th>
                                <th>Added On</th>
                                <th>Availability</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for device in get_result %}
                            <tr>
                                <td>{{ device.asset_id }}</td>
                                <td>{{ device.resource_category }}</td>
                                <td>{{ device.added_by }}</td>
                                <td>{{ device.added_on }}</td>
                                {% if device.resource_availability == 'Available' %}
                                    <td><h4 style="font-weight: 400; background-color: rgb(54, 136, 30); text-align: center; border-radius: 15px; color: #fff;">Available</h4></td>
                                {% elif device.resource_availability == 'Configuration' %}
                                    <td><h4 style="font-weight: 400; background-color: rgb(238, 181, 26); text-align: center; border-radius: 15px;">Configuration</h4></td>
                                {% elif device.resource_availability == 'Reserved' %}
                                    <td><h4 style="font-weight: 400; background-color: rgb(230, 78, 18); text-align: center; border-radius: 15px; color: #fff;">Reserved</h4></td>
                                {% elif device.resource_availability == 'Taken' %}
                                    <td><h4 style="font-weight: 400; background-color: rgb(197, 4, 4); text-align: center; border-radius: 15px; color: #fff;">Taken</h4></td>
                                {% else %}
                                {% endif %}
                                <!-- <td><a class="team-request-view-button" style="text-decoration: none; width: 100%; float: left; text-align: center;" href="{% url 'edit_resource' device.id %}">Edit Device</a><br><a class="team-request-delete-button" style="text-decoration: none; width: 100%; float: left; text-align: center;" href="{% url 'delete_resource' device.id %}">Remove Device</a></td> -->
                            </tr>
                            {% endfor %}

                        {% else %}

                        <thead>
                            <tr>
                                <th>Asset Id</th>
                                <th>Resource Type</th>
                                <th>Lastly Updated By</th>
                                <th>Added On</th>
                                <th>Availability</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for device in resources %}
                            <tr>
                                <td>{{ device.asset_id }}</td>
                                <td>{{ device.resource_category }}</td>
                                <td>{{ device.added_by }}</td>
                                <td>{{ device.added_on }}</td>
                                {% if device.resource_availability == 'Available' %}
                                    <td><h4 style="font-weight: 400; background-color: rgb(54, 136, 30); text-align: center; border-radius: 15px; color: #fff;">Available</h4></td>
                                {% elif device.resource_availability == 'Configuration' %}
                                    <td><h4 style="font-weight: 400; background-color: rgb(238, 181, 26); text-align: center; border-radius: 15px;">Configuration</h4></td>
                                {% elif device.resource_availability == 'Reserved' %}
                                    <td><h4 style="font-weight: 400; background-color: rgb(230, 78, 18); text-align: center; border-radius: 15px; color: #fff;">Reserved</h4></td>
                                {% elif device.resource_availability == 'Taken' %}
                                    <td><h4 style="font-weight: 400; background-color: rgb(212, 1, 1); text-align: center; border-radius: 15px; color: #fff;">Taken</h4></td>
                                {% else %}
                                {% endif %}
                                <!-- <td><a class="team-request-view-button" style="text-decoration: none; width: 100%; float: left; text-align: center;" href="{% url 'edit_resource' device.id %}">Edit Device</a><br><a class="team-request-delete-button" style="text-decoration: none; width: 100%; float: left; text-align: center;" href="{% url 'delete_resource' device.id %}">Remove Device</a></td> -->
                            </tr>
                            {% endfor %}

                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div> 
        <div class="loader-wrapper">
            <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_vpbloexe.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
        </div>
    </div>     
</section>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<!-- datatables starting -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
<!-- datatables ending -->
<script src="script.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script>
    $(window).on("load",function(){
      $(".loader-wrapper").fadeOut("slow");
    });
</script>
{% endblock %}