{% extends 'base_it_admin.html' %}
{% load static %}

{% block content %}
<title>ORMS | Processing Request Listings</title>

<section class="home-main">
    <div class="full-myteam-container" id="blur">
        <div class="head-container">
            <h1><img style="margin-bottom: -9px; margin-top: 0.5%;" src="https://img.icons8.com/parakeet/35/null/notepad.png"/> Requests Incidents</h1>
            {% include 'message_alert.html' %}
        </div>
        <div class="search-bar-container">
            <table style="width: 100%; text-align: center; background-color: #6e6e6e; padding: 10px;">
                <tr>
                    <td><a class="float-deletion-btn1" href="{% url 'list_pending_requests_it_admin' user.id %}"><img style="margin-bottom: -3px;" src="https://img.icons8.com/color/16/null/data-pending.png"/> Pending Requests</a></td>
                    <td><a class="float-deletion-btn2" href="{% url 'list_processing_requests_it_admin' user.id %}"><img style="margin-bottom: -3px;" src="https://img.icons8.com/color/16/null/neutral-trading.png"/> Processing Requests</a></td>
                    <td><a class="float-deletion-btn3" href="{% url 'list_completed_requests_it_admin' user.id %}"><img style="margin-bottom: -3px;" src="https://img.icons8.com/color/16/null/ok--v1.png"/> Completed Requests</a></td>
                </tr>
            </table>
        </div>
        <div class="container">
            <h3 style="text-align: center; font-weight: 400; margin-top: 1%; margin-bottom: 1%; background-color: #757575; color: #fff; padding: 0.3%; border-radius: 5px;"><img style="margin-bottom: -10px;" src="https://img.icons8.com/color/34/null/neutral-trading.png"/> Processing Requests Listings</h3>
            <table id="team_requests" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Request Id</th>
                        <th>Requested For</th>
                        <th>Category</th>
                        <th>Created For</th>
                        <th>Status</th>
                        <th>Created On</th>
                        <th style="text-align: center;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                        {% for requests in get_requests %}
                        <tr>
                            <td><a href="#">{{ requests.request_id }}</a></td>
                            <td>{{ requests.request_resource }}</td>
                            <td>{{ requests.request_category }}</td>
                            <td>{{ requests.created_for }}</td>
                            {% if requests.request_status == 'Pending' %}
                                <td><h4 style="font-weight: 400; background-color: rgb(238, 181, 26); text-align: center; border-radius: 15px;">{{ requests.request_status }}</h4></td>
                            {% elif requests.request_status == 'Processing' %}
                                <td><h4 style="font-weight: 400; background-color: rgb(129, 106, 214); text-align: center; border-radius: 15px; color: #fff;">{{ requests.request_status }}</h4></td>
                            {% elif requests.request_status == 'Completed' %}
                                <td><h4 style="font-weight: 400; background-color: rgb(54, 136, 30); text-align: center; border-radius: 15px; color: #fff;">{{ requests.request_status }}</h4></td>
                            {% elif requests.request_status == 'Cancelled' %}
                                <td><h4 style="font-weight: 400; background-color: rgb(230, 78, 18); text-align: center; border-radius: 15px; color: #fff;">{{ requests.request_status }}</h4></td>
                            {% endif %}
                            <td>{{ requests.created_on }}</td>
                            <td><a class="team-request-view-button" style="text-decoration: none; width: 100%; float: left; text-align: center; background-color: rgb(30, 124, 27); color: #fff;" href="{% url 'view_selected_processing_request' requests.id %}"><i class='bx bxs-folder-open'></i> Open</a></td>
                        </tr>
                        {% endfor %}
                </tbody>
            </table>                    
        </div>
    </div> 
    <div class="loader-wrapper">
        <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_vpbloexe.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
    </div>     
</section>

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="{% static 'script.js' %}"></script>
<script>
    $(window).on("load",function(){
    $(".loader-wrapper").fadeOut("slow");
    });
</script>

{% endblock %}