                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:superadmin_portal' %}">
                            <i class='bx bxs-grid-alt'></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:superadmin_add_user' %}">
                            <i class='bx bxs-user-plus'></i> System Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'department:superadmin_department_table' %}">
                            <i class='bx bxs-building'></i> Departments
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'team:superadmin_team_table' %}">
                            <i class='bx bxs-group'></i> Teams
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:superadmin_user_profile' %}">
                            <i class='bx bx-user-circle'></i> My Profile
                        </a>
                    </li>
