                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:it_admin_portal' user.id %}">
                            <i class='bx bx-line-chart'></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'resources:view_resource_categories' %}">
                            <i class='bx bx-category'></i> Categories
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'resources:resources_listings_page' %}">
                            <i class='bx bx-devices'></i> Resources
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'resources:returned_resources_list_table' %}">
                            <i class='bx bx-history'></i> In &amp; Outs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'requests:list_pending_requests_it_admin' user.id %}">
                            <i class='bx bx-columns'></i> Requests
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:it_admin_user_profile' user.id %}">
                            <i class='bx bx-user-circle'></i> My Profile
                        </a>
                    </li>
