                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:superadmin_portal' %}">
                            <i data-lucide="layout-dashboard"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:superadmin_add_user' %}">
                            <i data-lucide="user-plus"></i> System Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'department:superadmin_department_table' %}">
                            <i data-lucide="building-2"></i> Departments
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'team:superadmin_team_table' %}">
                            <i data-lucide="users"></i> Teams
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:superadmin_user_profile' %}">
                            <i data-lucide="circle-user"></i> My Profile
                        </a>
                    </li>
