                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:it_admin_portal' user.id %}">
                            <i data-lucide="line-chart"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'resources:view_resource_categories' %}">
                            <i data-lucide="shapes"></i> Categories
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'resources:resources_listings_page' %}">
                            <i data-lucide="laptop"></i> Resources
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'resources:returned_resources_list_table' %}">
                            <i data-lucide="history"></i> In &amp; Outs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'tickets:list_pending_requests_it_admin' user.id %}">
                            <i data-lucide="columns-3"></i> Requests
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account:it_admin_user_profile' user.id %}">
                            <i data-lucide="circle-user"></i> My Profile
                        </a>
                    </li>
