{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ORMS | IT Administrator</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="home-body">
    <nav class="home-sidebar close">
        <header>
            <div class="image-logo">
                <span class="image">
                    <img src="{% static 'images//ORMS-logos/ORMS-1 (1).png' %}" alt="ORMS-logos Logo">
                </span>

                <div class="text header-text">
                    <span class="name">T Manojith</span>
                    <span class="profession">IT Administrator</span>
                </div>
            </div>
            <!-- box icons website -->
            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">
                        <!-- <i class='bx bx-search-alt icon' ></i>
                        <input type="search" placeholder="Search here"> -->
                </li>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-line-chart icon' ></i>
                            <span class="text nav-text">Admin Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-add-to-queue icon' ></i>
                            <span class="text nav-text">Departments</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-devices icon' ></i>
                            <span class="text nav-text">Manage Device</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-columns icon' ></i>
                            <span class="text nav-text">View Requests</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-note icon' ></i>
                            <span class="text nav-text">My Notes</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-user-circle icon' ></i>
                            <span class="text nav-text">My Profile</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="{% url 'logout' %}">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
    
    <script src="{% static 'script.js' %}"></script>
</body>
</html>