{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ORMS | Home page</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="home-body">
    <nav class="home-sidebar close">
        <header>
            <div class="image-logo">
                <span class="image">
                    <img src="{% static 'images//ORMS-logos/ORMS-1 (1).png' %}" alt="HSBC Logo">
                </span>

                <div class="text header-text">
                    <span class="name">T Manojith</span>
                    <span class="profession">AM Operations</span>
                </div>
            </div>
            <!-- box icons website -->
            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">                        
                </li>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-home-circle icon' ></i>
                            <span class="text nav-text">My Team</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="add_t_member.html">
                            <i class='bx bx-add-to-queue icon' ></i>
                            <span class="text nav-text">Add Team Member</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-receipt icon' ></i>
                            <span class="text nav-text">My Requests</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-pie-chart-alt icon' ></i>
                            <span class="text nav-text">Analytics</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-note icon' ></i>
                            <span class="text nav-text">My Notes</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-user-circle icon' ></i>
                            <span class="text nav-text">My Profile</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="#">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <script src="{% static 'script.js' %}"></script>
</body>
</html>

///


