{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ORMS | Superadmin side</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>
<body class="home-body">
    <nav class="home-sidebar close">
        <header>
            <div class="image-logo">
                {% if user.is_authenticated %}
                    <span class="image">
                        <img src="{% static 'images//ORMS-logos/ORMS-1 (1).png' %}" alt="ORMS logo">
                    </span>

                    <div class="text header-text">
                        
                        <span class="name">{{ user.first_name }}</span>
                        <span class="profession">{{ user.role }}</span>
                        
                    </div>
                {% else %}
                    
                {% endif %}
            </div>
            <!-- box icons website -->
            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <li class="search-box">                        
                </li>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="{% url 'superadmin_portal' %}">
                            <i class='bx bxs-grid-alt icon' ></i>
                            <span class="text nav-text">My Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'superadmin_add_user' %}">
                            <i class='bx bxs-user-plus icon' ></i>
                            <span class="text nav-text">System Users</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'superadmin_department_table' %}">
                            <i class='bx bxs-building icon' ></i>
                            <span class="text nav-text">Departments</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="{% url 'superadmin_team_table' %}">
                            <i class='bx bxs-building icon' ></i>
                            <span class="text nav-text">Teams</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-user-circle icon' ></i>
                            <span class="text nav-text">My Profile</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="{% url 'logout' %}">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <script src="{% static 'script.js' %}"></script>
</body>
</html>