{% extends 'base_superadmin.html' %}
{% load static %}

{% block content %}

<section class="home-main">

    {% if selected_user %}

    <div class="add-new-department-form">
        <h1><img style="margin-bottom: -5px;" src="https://img.icons8.com/color/35/000000/add-user-group-woman-man.png"/> Edit User: {{selected_user.peoplesoft_id}}</h1>
         <form action="{% url 'update_user' selected_user.id %}" method="POST" id="editUserForm" data-teams-url="{% url 'ajax_load_teams' %}">
            {% csrf_token %}
            <div class="and-input-box">
                 <span class="details_anu">PeopleSoft Id: (Note: In numerical format)</span>
                 <input type="number" name="peoplesoft_id" placeholder="Enter peoplesoft ID.." value="{{selected_user.peoplesoft_id}}" required>
             </div>
             <div class="and-input-box">
                 <span class="details_anu">Firstname: </span>
                 <input type="text" name="first_name" placeholder="Enter Firstname.." value="{{selected_user.first_name}}" required>
             </div>
             <div class="and-input-box">
                 <span class="details_anu">Lastname: </span>
                 <input type="text" name="last_name" placeholder="Enter Lastname.." value="{{selected_user.last_name}}" required>
             </div>
             <div class="and-input-box">
                 <span class="details_anu">Email Id: </span>
                 <input type="email" name="email" placeholder="Enter Email Id.." value="{{selected_user.email}}" required>
             </div>
            <div class="and-input-box">
                <span class="details_anu">Department Oriented: </span>
                <select name="department" id="edit_department">
                    <option selected>{{selected_user.department}}</option>
                    {% for department in department_names %}
                     <option value="{{department.id}}">{{ department.department_name }}</option>
                    {% endfor %}
                  </select>
            </div>
             <div class="and-input-box">
                <span class="details_anu">Team Oriented: </span>
                <select name="team" id="edit_teams">
                    <option selected>{{selected_user.team}}</option>
                </select>
            </div>
             <div class="and-input-box">
                <span class="details_anu">Select User Role: </span>
                <select name="role">
                    <option selected>{{selected_user.role}}</option>
                    <option>IT Administrator</option>
                    <option>Manager</option>
                    <option>Superadmin</option>
                  </select>
            </div>
             <div class="and-input-box">
                 <input class="and-submit-btn" type="submit" value="Update User">
                 <a href="{% url 'superadmin_add_user' %}" class="and-back-btn">Back to users page</a>
             </div>
             {% include 'message_alert.html' %}
         </form>
    </div>

    {% else %}

    <div class="add-new-department-form">
        <h1><img style="margin-bottom: -5px;" src="https://img.icons8.com/color/35/000000/add-user-group-woman-man.png"/> Add New User Form:</h1>
         <form action="{% url 'add_user_page' %}" method="POST" id="addUserForm" data-teams-url="{% url 'ajax_load_teams' %}">
            {% csrf_token %}
             <div class="and-input-box">
                 <span class="details_anu">PeopleSoft Id: (Note: In numerical format)</span>
                 <input type="number" name="peoplesoft_id" placeholder="Enter peoplesoft ID.." required>
             </div>
             <div class="and-input-box">
                 <span class="details_anu">Firstname: </span>
                 <input type="text" name="first_name" placeholder="Enter Firstname.." required>
             </div>
             <div class="and-input-box">
                 <span class="details_anu">Lastname: </span>
                 <input type="text" name="last_name" placeholder="Enter Lastname.." required>
             </div>
             <div class="and-input-box">
                 <span class="details_anu">Email Id: </span>
                 <input type="email" name="email" placeholder="Enter Email Id.." required>
             </div>
             <div class="and-input-box">
                <span class="details_anu">Department Oriented: </span>
                <select name="department" id="department">
                    <option value="">--Choose department--</option>
                    {% for department in department_names %}
                        <option value="{{department.id}}">{{ department.department_name }}</option>
                    {% endfor %}
                  </select>
            </div>
             <div class="and-input-box">
                <span class="details_anu">Team Oriented: </span>
                <select name="team" id="teams"></select>
            </div>
             <div class="and-input-box">
                <span class="details_anu">Select User Role: </span>
                <select name="role">
                    <option selected>--Choose role--</option>
                    <option>IT Administrator</option>
                    <option>Manager</option>
                    <option>Superadmin</option>
                  </select>
            </div>
             <div class="and-input-box">
                 <input class="and-submit-btn" type="submit" value="Create User">
                 <a href="{% url 'superadmin_add_user' %}" class="and-back-btn">Back to users page</a>
             </div>
             {% include 'message_alert.html' %}
         </form>
    </div>

    {% endif %}

    <div class="loader-wrapper">
        <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_vpbloexe.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
    </div>

</section>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script>
        $(window).on("load",function(){
          $(".loader-wrapper").fadeOut("slow");
        });
    </script>
    <script>
        // for add user form
        $("#department").change(function () {
          var url = $("#addUserForm").attr("data-teams-url");  // get the url of the `load_teams` view
          var department_nameId = $(this).val();  // get the selected department ID from the HTML input
    
          $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= localhost:8000/load-teams/)
            data: {
              'department': department_nameId       // add the department id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_teams` view function
              $("#teams").html(data);  // replace the contents of the team input with the data that came from the server
            }
          });
    
        });
    </script>

<script>
    // for edit user form
    $("#edit_department").change(function () {
      var url = $("#editUserForm").attr("data-teams-url");  // get the url of the `load_teams` view
      var edit_department_nameId = $(this).val();  // get the selected department ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/load-teams/)
        data: {
          'department': edit_department_nameId       // add the department id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_teams` view function
          $("#edit_teams").html(data);  // replace the contents of the team input with the data that came from the server
        }
      });

    });
</script>

{% endblock %}