{% extends 'base_superadmin.html' %}
{% load static %}

{% block content %}

<section class="home-main">
    <div class="add-new-department-form">
        <h1>Add New User Form:</h1>
         <form action="{% url 'add_user_page' %}" method="POST"">
            {% csrf_token %}
             <div class="and-input-box">
                 <span class="details_anu">PeopleSoft Id: (Note: In numerical format)</span>
                 <input type="number" name="peoplesoft_id" placeholder="Enter peoplesoft ID.." required>
             </div>
             <div class="and-input-box">
                 <span class="details_anu">Firstname: </span>
                 <input type="text" name="first_name" placeholder="Enter Firstname.." required>
             </div>
             <div class="and-input-box">
                 <span class="details_anu">Lastname: </span>
                 <input type="text" name="last_name" placeholder="Enter Lastname.." required>
             </div>
             <div class="and-input-box">
                 <span class="details_anu">Email Id: </span>
                 <input type="email" name="email" placeholder="Enter Email Id.." required>
             </div>
             <div class="and-input-box">
                <span class="details_anu">Department Oriented: </span>
                <select name="department">
                    <option selected>--Choose department--</option>
                    {% for department in department_names %}
                     <option>{{ department.department_name }}</option>
                     {% endfor %}
                  </select>
            </div>
             <div class="and-input-box">
                <span class="details_anu">Team Oriented: </span>
                <select name="team">
                    <option selected>--Choose team--</option>
                    {% for team in team_names %}
                     <option value="{{ team.team_name }}">{{ team.team_name }}</option>
                     {% endfor %}
                  </select>
            </div>
             <div class="and-input-box">
                <span class="details_anu">Select User Role: </span>
                <select name="role">
                    <option selected>--Choose role--</option>
                    <option>IT Administrator</option>
                    <option>Manager</option>
                    <option>Superadmin</option>
                  </select>
            </div>
             <div class="and-input-box">
                 <input class="and-submit-btn" type="submit" value="Create User">
                 <a href="{% url 'superadmin_add_user' %}" class="and-back-btn">Back to users page</a>
             </div>
             {% include 'message_alert.html' %}
         </form>
    </div>
</section>


{% endblock %}