{% extends 'base_superadmin.html' %}
{% load static %}

{% block content %}

<section class="home-main">
    <div class="full-myteam-container" id="blur">
        <div class="head-container">
            <h1>Removal History</h1>
            {% include 'message_alert.html' %}
        </div>
        <div class="search-bar-container">
            <table style="width: 100%; text-align: center;">
                <tr>
                    <td><a href="{% url 'users_deletion_history' %}" class="float-deletion-btn1">User Removal History</a></td>
                    <td><a href="{% url 'department_deletion_history' %}" class="float-deletion-btn2">Department Removal History</a></td>
                    <td><a href="{% url 'team_deletion_history' %}" class="float-deletion-btn3">Team Removal History</a></td>
                    <!-- <td><input class="float-deletion-btn1" type="button" value="User Deletion History"></td>
                    <td><input class="float-deletion-btn2" type="button" value="Department Deletion History"></td>
                    <td><input class="float-deletion-btn3" type="button" value="Team Deletion History"></td> -->
                </tr>
            </table>
        </div>
       
            <div class="container">
                <h1 style="text-align: center; font-weight: 400; margin-bottom: 15px;">Department Removal History</h1>
                <table id="team_requests" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Department Name</th>
                            <th>Department Head</th>
                            <th>Updated By</th>
                            <th>Created On</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for department in departments %}
                            <tr>
                                <td>{{ department.id }}</td>
                                <td>{{ department.department_name }}</td>
                                <td>{{ department.department_head }}</td>
                                <td>{{ department.created_by }}</td>
                                <td>{{ department.created_on }}</td>
                                <td><a class="team-request-view-button" style="text-decoration: none; width: 100%; float: left; text-align: center;" href="{% url 'restore_department' department.id %}">Restore</a><br><a class="team-request-delete-button" style="text-decoration: none; width: 100%; float: left; text-align: center;" href="{% url 'permanent_delete_department' department.id %}">Delete</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>                    
            </div>
        </div> 
    </div>     
    <div class="loader-wrapper">
        <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_vpbloexe.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
    </div>      
</section>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="{% static 'script.js' %}"></script>
<script>
    $(window).on("load",function(){
      $(".loader-wrapper").fadeOut("slow");
    });
</script>

{% endblock %}