{% extends 'base_superadmin.html' %}
{% load static %}

{% block content %}



    <section class="home-main">
        <div class="full-myteam-container" id="blur">
            <!-- <div class="head-container">
                <h1>Add Users</h1>
                <a class="navigator-btn" href="{% url 'add_user_page' %}">Add new user</a>
            </div> -->

            <div class="head-container">
                <h1>User Management</h1>
                {% include 'message_alert.html' %}
            </div>
            <div class="search-bar-container">
                <form action="{% url 'superadmin_users_date_sort' %}" method="POST">
                    {% csrf_token %}
                    From: <input type="date" style="width: 140px;" name="from_user" class="search-input-box-dt">
                    To: <input type="date" style="width: 140px;" name="to_user" class="search-input-box-dt">
                    <input type="submit" class="search-input-btn-dt" value="Search">
                    <a href="{% url 'add_user_page' %}" style="margin-right: 0%;" class="add-team-btn">User <i style="font-size: 15px;" class='bx bx-message-square-add' ></i></a>
                    <a href="#" style="margin-right: 5px; background-color: rgb(24, 24, 24);" class="add-team-btn">Print report <i class='bx bx-printer'></i></a>
                </form>
            </div>
           
                <div class="container">
                    <table id="team_requests" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>PS Id</th>
                                <th>Emp Name</th>
                                <th>Email</th>
                                <th>Department</th>
                                <th>Team</th>
                                <th>Role</th>
                                <th>Created On</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% if get_result %}

                                {% for user in get_result %}
                                    <tr>
                                        <td>{{ user.peoplesoft_id }}</td>
                                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.department }}</td>
                                        <td>{{ user.team }}</td>
                                        <td>{{ user.role }}</td>
                                        <td>{{ user.date_joined }}</td>
                                        {% if user.is_active %}
                                        <td style="background: rgb(60, 161, 29); color: aliceblue; text-align: center;">Active</td>
                                        {% else %}
                                        <td style="background: rgb(197, 75, 27); color: aliceblue; text-align: center;">Removed</td>
                                        {% endif %}
                                        <td><a class="team-request-view-button" style="text-decoration: none; width: 100%; float: left; text-align: center;" href="{% url 'edit_user' user.id %}">Edit User</a><br><a class="team-request-delete-button" style="text-decoration: none; width: 100%; float: left; text-align: center;" href="{% url 'remove_user_access' user.id %}">Remove</a></td>
                                    </tr>
                                {% endfor %}

                            {% else %}

                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.peoplesoft_id }}</td>
                                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>{{ user.department }}</td>
                                        <td>{{ user.team }}</td>
                                        <td>{{ user.role }}</td>
                                        <td>{{ user.date_joined }}</td>
                                        {% if user.is_active %}
                                        <td style="background: rgb(60, 161, 29); color: aliceblue; text-align: center;">Active</td>
                                        {% else %}
                                        <td style="background: rgb(197, 75, 27); color: aliceblue; text-align: center;">Removed</td>
                                        {% endif %}
                                        <td><a class="team-request-view-button" style="text-decoration: none; width: 100%; float: left; text-align: center;" href="{% url 'edit_user' user.id %}">Edit User</a><br><a class="team-request-delete-button" style="text-decoration: none; width: 100%; float: left; text-align: center;" href="{% url 'remove_user_access' user.id %}">Remove</a></td>
                                    </tr>
                                {% endfor %}

                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div> 
        </div>     
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'script.js' %}"></script>

{% endblock %}