{% extends 'base.html' %}
{% load static %}

{% block title %}Arivom | View Department{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="page-header"><i data-lucide="building-2"></i> View Department</h1>
    {% include 'message_alert.html' %}

    {% if selected_dep %}
    <div class="card mx-auto" style="max-width: 640px;">
        <div class="card-body p-4">
            <dl class="row mb-0">
                <dt class="col-sm-4">Department name</dt><dd class="col-sm-8">{{ selected_dep.department_name }}</dd>
                <dt class="col-sm-4">Department head</dt><dd class="col-sm-8">{{ selected_dep.department_head }}</dd>
                <dt class="col-sm-4">Created by</dt><dd class="col-sm-8">{{ selected_dep.created_by }}</dd>
                <dt class="col-sm-4">Created on</dt><dd class="col-sm-8">{{ selected_dep.created_on }}</dd>
                <dt class="col-sm-4">Description</dt><dd class="col-sm-8">{{ selected_dep.department_description }}</dd>
            </dl>
            <div class="d-flex gap-2 mt-3">
                <a href="{% url 'department:edit_department' selected_dep.id %}" class="btn btn-outline-primary flex-fill">
                    <i data-lucide="pencil"></i> Edit
                </a>
                <button type="button" class="btn btn-outline-danger flex-fill" data-bs-toggle="modal" data-bs-target="#deleteDeptModal">
                    <i data-lucide="trash-2"></i> Delete
                </button>
                <a href="{% url 'department:superadmin_department_table' %}" class="btn btn-outline-secondary flex-fill">Back</a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteDeptModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{% url 'department:delete_department' selected_dep.id %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-header modal-header--danger">
                        <h5 class="modal-title"><i data-lucide="triangle-alert"></i> Warning!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete the entire "{{ selected_dep.department_name }}" department?</p>
                        <input type="hidden" name="delete_name" value="delete">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">No, cancel</button>
                        <button type="submit" class="btn btn-danger">Yes, delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
