{% extends 'base_superadmin.html' %}
{% load static %}

{% block content %}



<section class="home-main">
    <div class="full-myteam-container" id="blur">
        <div class="head-container">
            <h1>Department Management</h1>
            {% include 'message_alert.html' %}
        </div>
        <div class="search-bar-container">
            <form action="{% url 'search_department' %}" method="GET">
                <!-- <select name="search_by" class="select-input-box-dt">
                    <option selected>Department name</option>
                    <option>Department head</option>
                    <option>Updated by</option>
                </select> -->
                <input style="margin-left: 5%;" type="text" class="search-input-box-dt" name="keyword" placeholder="Search by department name here.." required>
                <input type="submit" class="search-input-btn-dt" value="Search">
                <a href="{% url 'add_new_department' %}" class="add-team-btn">Department <i style="font-size: 15px;" class='bx bx-message-square-add' ></i></a>
                <a href="{% url 'superadmin_department_table' %}" style="margin-right: 5px; background-color: rgb(24, 24, 24);" class="add-team-btn">View <i class='bx bx-table' ></i></a>
            </form>
        </div>

        <div class="department-card-container">

            {% if search_department %}

            {% for department in search_department %}
                <div class="department-card-tile">
                    <table style="width: 100%;">
                        <tr>
                            <td><h1><span class="txt-diff-dep"><i class='bx bxs-building' ></i>{{ department.department_name }}</span></h1></td>
                            <td><h1><span>Department Head:</span><br> {{ department.department_head }}</h1></td>
                        </tr>
                        <tr>
                            <td><h1><span>Lastly Updated By:</span><br> {{ department.created_by }}</h1></td>
                            <td><h1><span>Created On:</span> {{ department.created_on }}</h1></td>
                        </tr>
                        <tr>
                            <td colspan="2"><h1><span>Description:</span><br> {{ department.department_description }}</h1></td>
                        </tr>
                            <td><h2>.</h2></td>
                            <td><h2>.</h2></td>
                        <tr>
                            <td style="text-align: center;"><a href="{% url 'edit_department' department.id %}" class="department-tile-btn-edit">Update Department</a><a href="{% url 'department_view_teams' department.id %}" class="department-tile-btn-view">View Teams</a></td>
                            <td style="text-align: center;"><a href="{% url 'delete_department' department.id %}" class="department-tile-btn-delete">Delete Department</a></td>
                        </tr>
                    </table>
                </div>
            {% endfor %}

            {% elif departments %}

            {% for department in departments %}
                <div class="department-card-tile">
                    <table style="width: 100%;">
                        <tr>
                            <td><h1><span class="txt-diff-dep"><i class='bx bxs-building' ></i>{{ department.department_name }}</span></h1></td>
                            <td><h1><span>Department Head:</span><br> {{ department.department_head }}</h1></td>
                        </tr>
                        <tr>
                            <td><h1><span>Lastly Updated By:</span><br> {{ department.created_by }}</h1></td>
                            <td><h1><span>Created On:</span> {{ department.created_on }}</h1></td>
                        </tr>
                        <tr>
                            <td colspan="2"><h1><span>Description:</span><br> {{ department.department_description }}</h1></td>
                        </tr>
                            <td><h2>.</h2></td>
                            <td><h2>.</h2></td>
                        <tr>
                            <td style="text-align: center;"><a href="{% url 'edit_department' department.id %}" class="department-tile-btn-edit">Update Department</a><a href="{% url 'department_view_teams' department.id %}" class="department-tile-btn-view">View Teams</a></td>
                            <td style="text-align: center;"><a href="{% url 'delete_department' department.id %}" class="department-tile-btn-delete">Remove Department</a></td>
                        </tr>
                    </table>
                </div>
            {% endfor %}

            {% else %}
            <h2>Oops! No results found.</h2>
            {% endif %}
        </div>

        </div> 
        <!-- <div id="warning_popup">
            onclick="toggle_warning_blur()"
            <h1><i class='bx bxs-bell-ring'></i>  Warning!</h2>
            <h3>Are you sure want to delete the entire department!</h3>
            <a href="#" class="warning-btn-delete" onclick="toggle_warning_blur()">Yes, delete</a>
            <a href="#" class="warning-btn-cancel" onclick="toggle_warning_blur()">No, cancel</a>
        </div>     -->
</section>


<!-- 
------------------------------------------------------------------------- -->

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="{% static 'script.js' %}"></script>

{% endblock %}