{% extends 'base_superadmin.html' %}
{% load static %}

{% block content %}



<section class="home-main">
    <div class="full-myteam-container" id="blur">

        <div class="head-container" style="margin-bottom: 3%;">
            <h1><img style="margin-bottom: -9px;" src="https://img.icons8.com/external-flaticons-flat-flat-icons/35/null/external-department-university-flaticons-flat-flat-icons-2.png"/> View Department</h1>
            {% include 'message_alert.html' %}
        </div>

        <div class="department-card-container">
            {% if selected_dep %}
            <div style="margin-top: 1%;" class="team-member-info">
                <h1><i class="fa fa-address-card-o" aria-hidden="true"></i> View Department Information: </h1>
                <table style="margin-top: 1%;">
                    <tr>
                        <td><span>Department Name: </span> {{selected_dep.department_name}}</td>
                        <td><span>Department Head: </span> {{selected_dep.department_head}}</td>
                    </tr>
                    <tr>
                        <td><span>Department Created By: </span> {{selected_dep.created_by}}</td>
                        <td><span>Created On: </span> {{selected_dep.created_on}}</td>
                    </tr>
                    <tr>
                        <td colspan="2"><span>Department Description:</span> {{selected_dep.department_description}}</td>
                    </tr>
                    <tr>
                        <td><a class="add-resources-btn" href="{% url 'edit_department' selected_dep.id %}"><i class="fa fa-pencil" aria-hidden="true"></i> Edit Department </a> <a class="add-resources-btn" href="#" onclick="toggle_warning_blur()"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete Department </a></td>
                        <td><a class="add-resources-btn" href="{% url 'superadmin_department_table' %}"><i class="fa fa-hand-o-left" aria-hidden="true"></i> Back to Departments </a></td>
                    </tr>
                </table>
            </div>
        </div>
        </div>
        <div class="loader-wrapper">
            <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_vpbloexe.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player>
        </div>   
        <div id="warning_popup">
            <form action="{% url 'delete_department' selected_dep.id %}" method="POST">
                {% csrf_token %}
                <h1><i class='bx bxs-bell-ring'></i>  Warning!</h2>
                <h3>Are you sure that you want to delete the entire "{{selected_dep.department_name}}" department!</h3>
                <input type="hidden" name="delete_name" value="delete">
                <button type="submit" class="warning-btn-delete" style="background-color: rgb(204, 17, 3);" onclick="toggle_warning_blur()">Yes, delete</button>
                <a class="warning-btn-cancel" style="background-color: rgb(2, 141, 20);" onclick="toggle_warning_blur()">No, cancel</a>
            </form>
        </div>  
        {% else %}
        {% endif %}  
</section>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<script src="{% static 'script.js' %}"></script>
<script>
    $(window).on("load",function(){
      $(".loader-wrapper").fadeOut("slow");
    });
</script>

{% endblock %}