{% extends 'base.html' %}
{% load static %}

{% block title %}Sukhra | View Team{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="page-header"><i data-lucide="users"></i> View Team</h1>
    {% include 'message_alert.html' %}

    {% if selected_tem %}
    <div class="card mx-auto" style="max-width: 640px;">
        <div class="card-body p-4">
            <dl class="row mb-0">
                <dt class="col-sm-4">Team name</dt><dd class="col-sm-8">{{ selected_tem.team_name }}</dd>
                <dt class="col-sm-4">Team head</dt><dd class="col-sm-8">{{ selected_tem.team_head }}</dd>
                <dt class="col-sm-4">Department</dt><dd class="col-sm-8">{{ selected_tem.department }}</dd>
                <dt class="col-sm-4">Created by</dt><dd class="col-sm-8">{{ selected_tem.created_by }}</dd>
                <dt class="col-sm-4">Created on</dt><dd class="col-sm-8">{{ selected_tem.created_date }}</dd>
                <dt class="col-sm-4">Description</dt><dd class="col-sm-8">{{ selected_tem.team_description }}</dd>
            </dl>
            <div class="d-flex gap-2 mt-3">
                <a href="{% url 'team:edit_team' selected_tem.id %}" class="btn btn-outline-primary flex-fill">
                    <i data-lucide="pencil"></i> Edit
                </a>
                <button type="button" class="btn btn-outline-danger flex-fill" data-bs-toggle="modal" data-bs-target="#deleteTeamModal">
                    <i data-lucide="trash-2"></i> Delete
                </button>
                <a href="{% url 'team:superadmin_team_table' %}" class="btn btn-outline-secondary flex-fill">Back</a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteTeamModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="{% url 'team:delete_team' selected_tem.id %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title"><i data-lucide="triangle-alert" class="text-warning"></i> Warning!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete the entire "{{ selected_tem.team_name }}" team?</p>
                        <input type="hidden" name="delete_name" value="delete">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">No, cancel</button>
                        <button type="submit" class="btn btn-danger">Yes, delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
