{% extends 'base_superadmin.html' %}
{% load static %}

{% block content %}
<section class="home-main">
    <div class="full-myteam-container" id="blur">
        <div class="head-container">
            <h1>Add Teams</h1>
            <input class="create-request-button" type="button" onclick="toggle_blur()" value="Click on to add new team">
        </div>
       
            <div class="container">
                <table id="team_requests" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Team Id</th>
                            <th>Team name</th>
                            <th>Department oriented</th>
                            <th>Create on</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="#">TE00112</a></td>
                            <td>AORS Team UK - Night Shift</td>
                            <td>Account Opening Related Services - UK</td>
                            <td>28/08/2022</td>                              
                            <td><input class="team-request-view-button" type="button" value="View team"></td>
                        </tr>
                        <tr>
                            <td><a href="#">TE00112</a></td>
                            <td>AORS Team UK - Night Shift</td>
                            <td>Account Opening Related Services - UK</td>
                            <td>28/08/2022</td>                              
                            <td><input class="team-request-view-button" type="button" value="View team"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 
        <div id="request_popup">
            <h2>Add New Team</h2>
            <input type="text" class="r-p-textbox" placeholder="Team ID.." value="" required>
            <input type="text" class="r-p-textbox" placeholder="Team name.." required>
            <select name="department">
                <option selected>--Choose department oriented with--</option>
                <option>Bank account opening UK - Night</option>
                <option>Bank account opening UK - Morning</option>
                <option>KYC Operations</option>
                <option>Banking Operations</option>
                <option>Financial crime investigation</option>
                <option>Global Publishing Services</option>
              </select>
              <!-- <select name="request-type">
                <option selected>--Choose user preference--</option>
                <option>IT Administrator</option>
                <option>Manager Operations</option>
                <option>Superadmin</option>
              </select> -->
              <!-- <h4>Select User Preference:</h4>
              <div class="checkbox-container">
                <label class="checkbox-element">Manager
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <label class="checkbox-element">IT Administrator
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
                  <label class="checkbox-element">Superadmin
                    <input type="checkbox">
                    <span class="checkmark"></span>
                  </label>
              </div> -->
            <!-- <textarea id="rp-textarea" name="rp-other-textarea" placeholder="Describe request or issue here..." rows="4" cols="50"></textarea> -->
            <input class="create-request-button" type="button" onclick="toggle_blur()" value="Create new team">
            <input class="close-request-button" type="button" onclick="toggle_blur()" value="Cancel">
            <!-- <h4 class="alert-message-success">Team successfully created!</h4> -->
            <!-- <h4 class="alert-message-unsuccess">Sorry validation error occurred! please check again.</h4> -->
        </div>
    </div>     
</section>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="{% static 'script.js' %}"></script>

{% endblock %}