{% extends 'base_superadmin.html' %}
{% load static %}

{% block content %}
<section class="home-main">
    <div class="full-myteam-container" id="blur">
        <div class="head-container">
            <h1>Add Teams</h1>
            <a class="navigator-btn" href="{% url 'superadmin_add_team' %}">Add New Team</a>
            {% include 'message_alert.html' %}
        </div>
       
            <div class="container">
                <table id="team_requests" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Team head</th>
                            <th>Department oriented</th>
                            <th>Team name</th>
                            <th>Create on</th>
                            <th>Created by</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for team in teams %}
                        <tr>
                            <td>{{ team.team_head }}</td>
                            <td>{{ team.department }}</td>
                            <td>{{ team.team_name }}</td>
                            <td>{{ team.created_date }}</td>
                            <td>{{ team.created_by }}</td>                              
                            <td><input class="team-request-view-button" type="button" value="View team"></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </div>      
</section>

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="{% static 'script.js' %}"></script>

{% endblock %}