{% extends 'base_superadmin.html' %}
{% load static %}

{% block content %}

<section class="home-main">
    <div class="full-myteam-container" id="blur">
        <div class="head-container">
            <h1>Add Department</h1>
            <a class="navigator-btn" href="{% url 'add_new_department' %}">Add New Department</a>
            <!-- <input class="create-request-button" type="button" onclick="toggle_blur()" value="Click on to add new department"> -->
            {% include 'message_alert.html' %}
        </div>
            <div class="container">
                <table id="team_requests" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Department Name</th>
                            <th>Department Head</th>
                            <th>Created On</th>
                            <th>Created By</th>
                            <th>Edit</th>
                            <!-- <th>Delete</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        {% for department in departments %}
                        <tr>
                            <td><a href="#">{{ department.id }}</a></td>
                            <td>{{ department.department_name }}</td>
                            <td>{{ department.department_head }}</td>
                            <td>{{ department.created_on }}</td>
                            <td>{{ department.created_by }}</td>
                            <td><a href="{% url 'edit_department' department.id %}" onclick="toggle_blur()">Edit</a> <a href="{% url 'delete_department' department.id %}">Delete</a></td>
                            <!-- <td><input style="margin: 2px; width: 60%; background-color: rgb(209, 189, 9); color: black; border-radius: 15px;" class="team-request-view-button" type="button" value="Edit"> <input style="margin: 2px; width: 60%; background-color: rgb(179, 19, 19); border-radius: 15px;" class="team-request-view-button" type="button" value="Delete"></td> -->
                            <!-- <td><input class="team-request-view-button" type="button" value="Delete"></td> -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div> 
    </div>     
</section>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="{% static 'script.js' %}"></script>

{% endblock %}