{% extends 'base_superadmin.html' %}
{% load static %}

{% block content %}

<section class="home-main">
    <div class="full-myteam-container">
        <div class="head-container">
            <h1>My Dashboard</h1>
        </div>
            <div class="card-container">
                <div class="analytics-card-one">
                    <h1>Total number of managers:</h1>
                    <i class='bx bxs-group'></i>
                    <h2>27</h2>
                </div>
                <div class="analytics-card-two">
                    <h1>Total number of IT administrators:</h1>
                    <i class='bx bxs-group'></i>
                    <h2>05</h2>
                </div>
                <div class="analytics-card-six">
                    <h1>Total number of Departments:</h1>
                    <i class='bx bxs-building icon' ></i>
                    <h2>38</h2>
                </div>
                <div class="analytics-card-seven">
                    <h1>Total number of Teams:</h1>
                    <i class='bx bx-laptop' ></i>
                    <h2>23</h2>
                </div>
                <div class="analytics-card-three">
                    <h1>Total number of CPU's:</h1>
                    <i class='bx bx-hdd'></i>
                    <h2>15</h2>
                </div>
                <div class="analytics-card-four">
                    <h1>Total number of Laptops:</h1>
                    <i class='bx bx-laptop'></i>
                    <h2>26</h2>
                </div>
                <div class="analytics-card-five">
                    <h1>Total number of Monitors:</h1>
                    <i class='bx bx-desktop'></i>
                    <h2>18</h2>
                </div>
            </div>
        </div> 
    </div>     
</section>

{% endblock %}