{% extends 'base_superadmin.html' %}
{% load static %}

{% block content %}



<section class="home-main">
    <div class="full-myteam-container" id="blur">
        <div class="head-container">
            <h1>Teams Index</h1>
        </div>
        <div class="search-bar-container">
            <form>
                From: <input type="date" style="width: 140px;" name="from_tem" class="search-input-box-dt">
                To: <input type="date" style="width: 140px;" name="to_tem" class="search-input-box-dt">
                <input type="submit" class="search-input-btn-dt" value="Sort">
                <a href="{% url 'superadmin_add_team' %}" style="margin-right: 0%;" class="add-team-btn">Team <i style="font-size: 15px;" class='bx bx-message-square-add' ></i></a>
                <a href="#" style="margin-right: 15px; background-color: rgb(24, 24, 24);" class="add-team-btn">Print report <i class='bx bx-printer'></i></a>
            </form>
        </div>
       
            <div class="container">
                <table id="team_requests" class="display" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Team Name</th>
                            <th>Team Head</th>
                            <th>Department Oriented</th>
                            <th>Updated By</th>
                            <th>Created On</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for team in teams_table %}
                        <tr>
                            <td>{{ team.id }}</td>
                            <td>{{ team.team_name }}</td>
                            <td>{{ team.team_head }}</td>
                            <td>{{ team.department }}</td>
                            <td>{{ team.created_by }}</td>
                            <td>{{ team.created_date }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div> 
    </div>     
</section>




<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="{% static 'script.js' %}"></script>

{% endblock %}