{% extends 'base.html' %}
{% load static %}

{% block title %}Sukhra | Team Removal History{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="page-header"><i data-lucide="trash-2"></i> Removal History</h1>
    {% include 'message_alert.html' %}

    <ul class="nav nav-pills mb-4">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'account:users_deletion_history' %}">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'department:department_deletion_history' %}">Departments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'team:team_deletion_history' %}">Teams</a>
        </li>
    </ul>

    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Team Name</th>
                    <th>Team Head</th>
                    <th>Department</th>
                    <th>Updated By</th>
                    <th>Created On</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                <tr>
                    <td>{{ team.id }}</td>
                    <td>{{ team.team_name }}</td>
                    <td>{{ team.team_head }}</td>
                    <td>{{ team.department }}</td>
                    <td>{{ team.created_by }}</td>
                    <td>{{ team.created_date }}</td>
                    <td>&mdash;</td>
                </tr>
                {% empty %}
                <tr><td colspan="7" class="p-0">
                    {% include 'includes/empty_state.html' with icon='trash-2' title='No removed teams' subtitle='Teams that get deleted will show up here.' %}
                </td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
