{% extends 'base.html' %}
{% load static %}

{% block title %}Sukhra | User Removal History{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="page-header"><i data-lucide="trash-2"></i> Removal History</h1>
    {% include 'message_alert.html' %}

    <ul class="nav nav-pills mb-4">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'account:users_deletion_history' %}">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'department:department_deletion_history' %}">Departments</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'team:team_deletion_history' %}">Teams</a>
        </li>
    </ul>

    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead>
                <tr>
                    <th>PS Id</th>
                    <th>Emp Name</th>
                    <th>Email</th>
                    <th>Department</th>
                    <th>Team</th>
                    <th>Role</th>
                    <th>Created On</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.peoplesoft_id }}</td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.department }}</td>
                    <td>{{ user.team }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.date_joined }}</td>
                    <td>
                        <div class="d-flex gap-1">
                            <a class="btn btn-sm btn-outline-primary" href="{% url 'account:restore_user' user.id %}">Revoke Access</a>
                            <a class="btn btn-sm btn-outline-danger" href="{% url 'account:permanent_delete_user' user.id %}">Delete</a>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr><td colspan="8" class="p-0">
                    {% include 'includes/empty_state.html' with icon='trash-2' title='No removed users' subtitle='Users that get deleted will show up here.' %}
                </td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
